/* Colour Variables */
:root {
  --primary: #3d9b35;
  --highlight: #4ebf44;
  --dark: #333;
  --light: #e3e3e3;
  --error: #721c24;
  --notice: #4b1b5c;
  --warning: #f0cc01;
  --error-rgb: 114, 28, 36;
  --info-rgb: 75, 27, 92;
  --warning-rgb: 240, 204, 1;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* Basic Setup */
html {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--dark);
}

body {
  margin: 0;
  line-height: 1.4;
}

a {
  text-decoration: underline double var(--primary);
  color: var(--dark);
}

a:hover {
  color: var(--highlight);
  text-decoration-color: var(--highlight);
}

.btn {
  background: var(--primary);
  color: white;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 1px solid var(--primary);
}

.btn:hover {
  background: var(--light);
}

img {
  max-width: 100%;
}

header,
.wrapper {
  display: grid;
  grid-gap: 20px;
  margin: 2.5rem 4rem;
}

.show {
  display: block;
}

/* Top bar / Navigation */
.top-bar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: grid;
  padding: 0;
  grid-gap: 2rem;
  grid-template-areas: "logo nav nav nav icons";
}

.logo {
  grid-area: logo;
  background-image: url(/assets/images/logoBackground.png);
  background-position: cover;
  text-align: center;
  color: var(--warning);
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

a.logo:hover {
  color: var(--warning);
}

#header-nav {
  grid-area: nav;
  justify-self: start;
}

.nav-icons {
  grid-area: icons;
  justify-self: right;
}
.nav-icons i {
  font-size: 2rem;
  margin-left: 0.5rem;
}

#nav-toggle {
  visibility: hidden;
}

#header-nav ul {
  display: grid;
  grid-gap: 0 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(5, 1fr);
}

#header-nav a {
  background: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  font-size: 1.1rem;
}

#header-nav a:hover {
  background: var(--primary);
  color: white;
}

/* Content */
.content {
  padding-bottom: 4.25rem;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--primary);
  font-size: 1.25rem;
}

footer .wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer {
  grid-template-areas: "copyright links";
  grid-gap: 2rem;
  display: grid;
}

.copyright {
  grid-area: copyright;
}

.footer nav {
  grid-area: links;
}

.footer nav a {
  text-decoration: none;
}

.footer nav a:hover {
  color: var(--warning);
}

/* Alerts: Used with flash messages */
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-error {
  color: var(--error);
  background-color: rgba(var(--error-rgb), 0.3);
  border-color: rgba(var(--error-rgb), 0.5);
}

.alert-notice {
  color: var(--notice);
  background-color: rgba(var(--notice-rgb), 0.3);
  border-color: rgba(var(--notice-rgb), 0.5);
}

.alert-warning {
  color: var(--warning);
  background-color: rgba(var(--warning-rgb), 0.3);
  border-color: rgba(var(--warning-rgb), 0.5);
}

.alert-success {
  color: var(--primary);
  background-color: rgba(var(--primary-rgb), 0.3);
  border-color: rgba(var(--primary-rgb), 0.5);
}

/* Media Queries */
@media (max-width: 945px) {
  header {
    margin-left: 0;
    margin-right: 0;
  }

  .wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .top-bar {
    grid-template-areas:
      "logo icons"
      "nav nav";
  }

  .nav-icons {
    margin-right: 1rem;
  }

  #nav-toggle {
    visibility: visible;
  }

  #header-nav {
    background: var(--primary);
    width: 100%;
    display: none;
  }

  #header-nav ul {
    grid-template-columns: 1fr;
    justify-content: stretch;
  }

  #header-nav li {
    justify-self: stretch;
  }

  #header-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: white;
    font-size: 1.1rem;
  }

  #header-nav a:hover {
    background: var(--highlight);
    color: white;
  }

  .content {
    padding-bottom: 4rem;
  }

  footer {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .wrapper {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .footer {
    grid-template-areas:
      "copyright"
      "links";
    grid-gap: 0.5rem;
  }

  .footer div,
  .footer nav {
    margin-left: 0.5rem;
  }

  .content {
    padding-bottom: 5.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media (max-width: 500px) {
  header {
    margin-top: 0.5rem;
  }

  .wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .top-bar {
    grid-template-areas:
      "icons"
      "logo"
      "nav";
    grid-gap: 0.5rem;
  }
  .nav-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: normal;
    margin-left: 1rem;
  }
  #nav-toggle {
    grid-column: 1 /2;
    justify-self: start;
  }

  .nav-icons i.search {
    grid-column: 2/3;
    justify-self: end;
  }
}
