<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="shortcut icon" href="/assets/images/favicon.png" type="image/png"/>
		<script src="https://kit.fontawesome.com/310ae83e3f.js" crossorigin="anonymous"></script>
		<link type="text/css" rel="stylesheet" href="/assets/css/styles.css"/> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			<header>
				<div class="top-bar">
					<a href="{{ path('instagram') }}" title="Instagram Feed" class="logo">Instagram Feed</a>
					<nav id="header-nav">
						<ul>
							<li class="nav-item mr-2">
								<a class="nav-link" href="{{ path('admin') }}" title="Home">Admin</a>
							</li>
						</ul>
					</nav>
				</div>
			</header>
			<section class="hero"> {% block hero %}{% endblock %}
				</section>
				<div class="wrapper">
					<section class="content">
						{% for type, messages in app.flashes %}
							{% for message in messages %}
								<div class="alert alert-{{ type }}" role="alert">
									{{ message }}
								</div>
							{% endfor %}
						{% endfor %}
						{% block body %}{% endblock %}
					</section>
				</div>
				<footer>
					<div class="wrapper">
						<section class="footer">
							<div class="copyright">
								&copy; 2021 - Present: Jordon Davidson
							</div>
							<nav>
								<a href="#" title="Privacy Policy">Privacy Policy</a>
							</nav>
						</section>
					</div>
				</footer>
				{% block javascripts %}{% endblock %}
			</body>
		</html>
